h1,h2,h3,h4,h5,h6 {
	text-rendering:optimizelegibility;
	margin:0.2em 0;
	font-weight:bold
}
h1{ font-size:1.8em }
h2{ font-size:1.6em }
h3{ font-size:1.4em}
h4{ font-size:1.3em }
h5{ font-size:1.2em }
h6{ font-size:1.1em }
p{ margin: 0.8em; }
.head{
    margin-bottom:0;
    position: relative;
    padding: 1.5rem;
}
#top{
    position: fixed;z-index: 2;display: block;bottom: 0;right: 0;
}
*{
    word-wrap:break-word;
    margin:0;
    padding:0;
    /* word-break:break-all; */
}

.weibo-icon::before{
    content: url(http://img.t.sinajs.cn/t4/appstyle/widget/images/shareButton/share_icon.png?id=1375775002754);
}
.twitter-icon::before{
    content: url(http://twitter.com/favicon.ico);
}
.hr{
    height: 1px; background-color: #dededc; margin: 25px 0;
}
.folder::first-letter {
    text-transform: capitalize;
}
.folder{
    display: block;
}


.left, .middle, .right, #toc, #disqus_thread{
    overflow: auto;
    padding: 8px 8px;
}
.left{ 
    border-right: 1px solid #dededc; 
    background:#252a3a;
    color:#ddd;
    flex: 2;
    z-index:2;
}
.left a{
    color:#eee;
}
.left a:hover{
    background:rgb(55, 60, 90);
}
#content ul{
    list-style: inside disc;
    margin-left:1em;
}


#content ol {
    list-style: inside decimal;
}
ol,ul{
    list-style-position: inside ;
    margin-left:10px;
}
.menu li ul{
    border-left: 1px solid #dbdbdb;
    margin:0;
    padding:0 0 0 5px;
}
#toc, .right > iframe{
    border-radius: 1em;
    border: 0.3em solid  lightslategray;
    margin-bottom: 1em;
}


.middle {
    flex: 8;
}

.right {
    flex: 3;
}

#content img, {
    /* border: 0.3em solid #e0dfcc ; */
    box-shadow: 0 0 10px #555;
    border-radius: 1em;
}
#content blockquote{
    background-color:lightgray;
    padding: 1em;
    margin: 2em;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    border-radius: 1em;
    border: 0.3em solid  lightslategray;
    text-shadow: 0 1px white;
    overflow: auto;
}

.menu-toggle {
    display:none;
}
.left.active{
    visibility: visible;
}

@media screen and (max-width:800px) {
    .menu-toggle{
        display:block;
        visibility: visible;
        border-radius:20px;
    }
    .main{
        display:block;
        position:relative;
    }
    .left{
        position: absolute;
        visibility:hidden;
    }
}
@media screen and (min-width:801px) {
    .main{
        display:flex;
    }
}
