/a.go
/a.rb
go.mod
# blog b
/b
*.tmp
*.log
.idea
todo
#godemo/?.go
*.out
tmp
pri
Gemfile.lock
.vscode
jek.exvim
.exvim.jek/
.DS_Store
__pycache__
.netrwhist

# node
package-lock.json
node_modules

# blog
no-commit
blog2
/a.*

#conf
conf/z.lua
go.sum
/conf/nginx/dump.rdb
/config/karabiner/automatic_backups
/config/karabiner/karabiner.json
/img/resty/auth-arch.png
/img/2020-05-30-12-41-18.png
/img/open-web.png
/slide.html
*.rdb

/conf/nginx/resty.test.conf
/tpl
# debug
/assets/vue-router.min.js
/assets/vue.min.js
/bak
