[submodule "demo/php-lib"]
	path = demo/php-lib
	url = https://github.com/ahui132/php-lib
[submodule "demo/js-lib"]
	path = demo/js-lib
	url = https://github.com/ahui132/js-lib
[submodule "demo/java-lib"]
	path = demo/java-lib
	url = https://github.com/ahui132/java-lib
[submodule "demo/excel-tutorial"]
	path = demo/excel-tutorial
	url = https://github.com/ahui132/python3-excel-tutorial
[submodule "demo/php-websockets"]
	path = demo/php-websockets
	url = https://github.com/ahui132/php-websockets
[submodule "demo/c-lib"]
	path = demo/c-lib
	url = git@github.com:ahui132/c-lib.git
[submodule "demo/go-lib"]
	path = demo/go-lib
	url = git@github.com:ahui132/go-lib.git
