# lexer
lex.yy.c
*.bin
# test file
/a.go
/a.rb
go.mod
*.tmp
*.log
todo
*.out
tmp
.vscode
.DS_Store
__pycache__

# blog
no-commit
/a.*

#conf
go.sum
/config/karabiner/automatic_backups
/config/karabiner/karabiner.json
*.rdb

# test resty
/conf/nginx/resty.test.conf
/tpl
# debug
/assets/vue-router.min.js
/assets/vue.min.js
/bak
