[submodule "demo/php-lib"]
	path = demo/php-lib
	url = https://github.com/ahuigo/php-lib
[submodule "demo/js-lib"]
	path = demo/js-lib
	url = https://github.com/ahuigo/js-lib
[submodule "demo/java-lib"]
	path = demo/java-lib
	url = https://github.com/ahuigo/java-lib
[submodule "demo/excel-tutorial"]
	path = demo/excel-tutorial
	url = https://github.com/ahuigo/python3-excel-tutorial
[submodule "demo/php-websockets"]
	path = demo/php-websockets
	url = https://github.com/ahuigo/php-websockets
[submodule "demo/c-lib"]
	path = demo/c-lib
	url = https://github.com/ahuigo/c-lib
[submodule "demo/go-lib"]
	path = demo/go-lib
	url = https://github.com/ahuigo/go-lib
[submodule "demo/pyhttp"]
	path = demo/pyhttp
	url = https://github.com/ahuigo/pyhttp-server
[submodule "demo/upload"]
	path = demo/upload
	url = https://github.com/ahuigo/upload-chunk
[submodule "demo/xlscsv"]
	path = demo/xlparser
	url = https://github.com/ahuigo/xlscsv
[submodule "demo/xcut"]
	path = demo/xcut
	url = https://github.com/ahuigo/xcut
[submodule "blog"]
	path = blog
	url = https://github.com/ahuigo/ahuigo.github.io
[submodule "demo/fiddle"]
	path = demo/fiddle
	url = https://github.com/ahuigo/local-jsfiddle.git
