*.tmp
*.log
.idea
/a.go
#godemo/?.go
*.out
tmp
pri
Gemfile.lock
.vscode
jek.exvim
.exvim.jek/
.DS_Store
__pycache__
.netrwhist

# node
package-lock.json
node_modules

# em
/img/em

# blog
post/p/
no-commit
blog2
b
a.py

#conf
conf/z.lua
