<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script>
        if(!('noModule' in HTMLScriptElement.prototype)){
            alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
        }
        var config = {
            // github user acount
            'user': 'ahuigo',
            'repo': 'a', //'repo': 'ahuigo.github.io',
            'weibo_uid': 1607772514,
            'twitter_user': 'ahuigoo',
            'disqus_user': 'ahuigo',
        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <title>AHUIGO的自留地</title>
    <meta name="author" content="ahuigo">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">

    <link href="css/main.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>

    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/agate.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>

    <link href="https://cdn.bootcss.com/KaTeX/0.10.0-alpha/katex.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/KaTeX/0.10.0-alpha/katex.min.js"></script>
    <script src="js/marked.js"></script>
    <script src="js/toc.js"></script>
</head>

<body class="layout-documentation page-layout">
    <div>
        <div class="pure-menu pure-menu-horizontal" style=" background: #363636; ">
            <a href="#" class="pure-menu-heading pure-menu-link"><strong>AHUIGO'S BLOG</STRONG></a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a class="button is-primary" href="/">Home</a></li>
                <li class="pure-menu-item"><a class="button is-primary" href="#/">Archive</a></li>
                <li class="pure-menu-item"><a class="button is-primary" href="#/README.md">Readme</a></li>
                <li class="pure-menu-item"><a class="button is-primary" href="/feed.xml">Rss</a></li>
            </ul>
            <div class="pure-menu-heading" style="width:128px;height:128px" v-pre>
                <canvas id="canvas" width="128" height="128" style="background-color:#333"></canvas>
            </div>
        </div>

        <div class="main"  id="app">
            <div :class="{left:true, 'active':showMenu}" >
                <button class="button is-primary menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
                        <template v-if="showMenu"> Close </template>
                        <template v-else>Open</template>
                </button>
                <tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
            </div>
            <div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
                <router-view></router-view>
                <div class="hr"></div>
                <div class="share" style="display:flex;justify-content:space-between">
                    <div>
                        <h4>关注我</h4>
                        <div>
                        <iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
                        <iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
                        </div>
                    </div>
                    <div>
                        <h4>分享文章</h4>
                        <div>
                            <span class="icon" @click="openShare('twitter', this)">
                            <svg viewBox="0 0 72 72"><path class="icon" fill="#000" d="M68.812 15.14c-2.348 1.04-4.87 1.744-7.52 2.06 2.704-1.62 4.78-4.186 5.757-7.243-2.53 1.5-5.33 2.592-8.314 3.176C56.35 10.59 52.948 9 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396c-1.125 1.936-1.77 4.184-1.77 6.58 0 4.543 2.312 8.552 5.824 10.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09-4.482 3.51-10.13 5.605-16.26 5.605-1.055 0-2.096-.06-3.122-.184 5.794 3.717 12.676 5.882 20.067 5.882 24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693 2.558-1.847 4.778-4.15 6.532-6.774z"></path></svg>
                            </span>
                            <span class="icon weibo-icon" @click="openShare('weibo')"></span>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div id="disqus_thread">
                    <button id="show-comments" class="button is-primary" onclick="disqus();return false;">Load Discus</button>
                </div>
            </div>
            <div class="right">
                <div id="toc"></div>
            </div>
        </div>
        <button class="button is-primary" onclick="window.scroll(0, 10)" id="top">Top</button>
    </div>
    <template id="tree-folder">
        <ul class="pure-menu-list" v-if="show">
            <li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
                <a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
                </a>
                <router-link v-else :type="file.type" class="file" :to="'/'+file.path">{{file.name.slice(0,-3)}} </router-link>
                <tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
            </li>
        </ul>
    </template>
    <template id="md">
        <div id="content" v-html="marked(md)"></div>
    </template>
    <script src="js/blog.js"></script>
</body>

</html>
