<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <title>AHUIGO的自留地</title>
    <meta name="author" content="ahuigo">
    <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/agate.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>

    <link href="https://cdn.bootcss.com/KaTeX/0.10.0-alpha/katex.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/KaTeX/0.10.0-alpha/katex.min.js"></script>
    <script src="js/marked.js"></script>
    <script src="js/toc.js"></script>
    <script>
        var config = {
            // github user acount
            'user': 'ahuigo',
            'weibo_uid': 1607772514,
            'twitter_user': 'ahuigoo',
            'disqus_user': 'ahuigo',
        }
    </script>
</head>

<body class="layout-documentation page-layout">
    <div id="app">
        <div class="head level  hero is-dark">
            <div class="level-left">
                <div class="level-item">
                    <button class="menu-toggle" @click="showMenu=!showMenu">
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                        <div class="menu-line"></div>
                    </button>
                </div>

                <div class="level-item">
                    <strong>本博采用纯es6, 请使用chrome/firefox </strong>
                </div>
                <pre>
    ☁　✈　　 ☁　　🚁
　🏬🏨🏫🏢🏤🏥🏦🏪
👬🌲 /　🚶🚍  \🌳
　🌳/　🚘   🏃　\🌴🐈
🌴 /　 🐢  🚔    \🌲
🌲/    🚖　  　　  \🌳👭 </pre>
            </div>
        </div>
        <div class="main">
            <tree-folder :class="{left:true, 'active':showMenu}" :show="show" :nodes="nodes"></tree-folder>
            <div class="middle">
                <router-view></router-view>
                <div class="hr"></div>
                <div class="share" style="display:flex">
                    <div>
                        <h4>关注我</h4>
                        <iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
                        <iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
                    </div>
                    <div>
                        <h4>分享</h4>
                        <div>
                            <span class="twitter-icon" @click="openShare('twitter', this)">twitter</span>
                            <span class="weibo-icon" @click="openShare('weibo')">微博</span>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div id="disqus_thread">
                    <button id="show-comments" class="button is-primary" onclick="disqus();return false;">Load Discus</button>
                </div>
            </div>
            <div class="right">
                <div id="toc"></div>
                <audio width="100%" style="height:50px;width:100%" controls="controls">
                    <source src="https://m10.music.126.net/20180809204935/fb73d228d140da5206546396ad786b51/ymusic/4760/32d2/1453/fabd13b1307f5a47cde9594a61c32e1e.mp3"
                        type="audio/mpeg">
                </audio>
                <!--
                <iframe height="450" width="100%" marginheight="0" border="0" src="https://music.163.com/outchain/player?type=0&amp;id=7314556&amp;auto=0&amp;height=430" frameborder="no"></iframe>
                -->
            </div>
        </div>
    </div>
    <button class="button is-primary" onclick="window.scroll(0, 10)" id="top">Top</button>
</body>
<template id="tree-folder">
    <ul v-if="show">
        <li v-for="(file,index) in nodes" :key="file.path">
            <div v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name.toUpperCase()}}
            </div>
            <router-link v-else :type="file.type" class="file" :to="'/'+file.path">{{file.name.slice(0,-3)}} </router-link>
            <tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
        </li>
    </ul>
</template>
<template id="md">
    <div id="content" v-html="marked(md)"></div>
</template>

<script src="js/blog.js"></script>
</html>