<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <script>
        if(!('noModule' in HTMLScriptElement.prototype)){
            alert('你的浏览器不能很好的支持 es6，请用最新的chrome、firefox浏览!')
        }
        var config = {
            // github user acount
            'user': 'ahuigo',
            'repo': 'a', //'repo': 'ahuigo.github.io',
            'weibo_uid': 1607772514,
            'twitter_user': 'ahuigoo',
            'disqus_user': 'ahuigo',
        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <title>{TITLE}</title>
    <meta name="author" content="ahuigo">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">

    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>

    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/agate.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>

    <link href="https://cdn.bootcss.com/KaTeX/0.10.0-alpha/katex.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/KaTeX/0.10.0-alpha/katex.min.js"></script>

    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
    <link href="{ROOT}/../a/css/main.css" rel="stylesheet">
    <script src="{ROOT}/../a/js/marked.js"></script>
    <script src="{ROOT}/../a/js/toc.js"></script>
</head>

<body class="layout-documentation page-layout">
    <div>
        <div class="pure-menu pure-menu-horizontal">
            <div>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="//github.com/ahuigo">AHUIGO</a></li>
                    <li class="pure-menu-item"><a class="button is-primary" href="{ROOT}/index.html">Home</a></li>
                    <li class="pure-menu-item"><a class="button is-primary" href="{ROOT}/atom.xml">Rss</a></li>
                    <li class="pure-menu-item"><a class="button is-primary" href="/a#/README.md">Readme</a></li>
                    <li class="pure-menu-item"><a class="button is-primary" href="/a/demo/fiddle/fiddle.html">Fiddle</a></li>
                </ul>
            </div>
        </div>

        <div class="main"  id="app">
            <div :class="{left:true, 'active':showMenu}" >
                <button class="button is-primary menu-toggle" :class="{a:true}" @click="showMenu=!showMenu">
                        <template v-if="showMenu"> Close </template>
                        <template v-else>Open</template>
                </button>
                <tree-folder :nodes="nodes" :class="{'active':showMenu}" :show="show"></tree-folder>
            </div>
            <div class="middle" v-on="showMenu?{click:r=>showMenu=false}:{}">
                <router-view></router-view>
                <pre id="markdown"></pre>
                <div class="hr"></div>
                <div class="share" style="display:flex;justify-content:space-between">
                    <div>
                        <h4>关注我</h4>
                        <div>
                        <iframe width="120" height="22" :src="`https://platform.twitter.com/widgets/follow_button.4a8202e5fcbfb5ba8d36683841f4d020.en.html#screen_name=${config.twitter_user}&width=67&height=22&show_count=false&show_screen_name=true`"></iframe>
                        <iframe width="120" height="22" :src="`https://widget.weibo.com/relationship/followbutton.php?btn=light&style=1&uid=${config.weibo_uid}&width=67&height=22&language=zh_cn`"></iframe>
                        </div>
                    </div>
                    <div>
                        <h4>分享文章</h4>
                        <div>
                            <span class="icon twitter-icon" @click="openShare('twitter', this)"></span>
                            <span class="icon weibo-icon" @click="openShare('weibo')"></span>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div id="comments"></div>
            </div>
            <div class="right">
                <div id="toc"></div>
                <div id="search" class="pure-form">
                    <fieldset>
                    <input id="search_q" @keyup.enter="searchBlog($('#search_q').value)">
                    <button @click="searchBlog($('#search_q').value)" class="pure-button pure-button-primary">搜索</button>
                    </fieldset>
                </div>
            </div>
        </div>
        <button class="button is-primary" onclick="window.scroll(0, 10)" id="up">Up</button>
        <button class="button is-primary" onclick="window.scrollTo(0,document.body.scrollHeight)" id="down">Down</button>
    </div>
    <template id="tree-folder">
        <ul class="pure-menu-list" v-if="show">
            <li class="pure-menu-item" v-for="(file,index) in nodes" :key="file.path">
                <a v-if="file.type==='dir'" :type="file.type" @click="openFolder(file)" class="folder">{{file.name}}
                </a>
                <a v-else :type="file.type" class="file" :href="('/'+file.path).replace(/^\/post\b/, '{ROOT}').slice(0,-3)">{{file.name.slice(0,-3)}} </a>
                <tree-folder v-if="file.nodes" :show="file.show" :nodes="file.nodes"></tree-folder>
            </li>
        </ul>
    </template>
    <template id="md">
        <div id="content" v-html="marked(md)"></div>
    </template>
    <script src="{ROOT}/../a/js/blog2.js"></script>
</body>

</html>
