<header class="site-header">
	<div class="wrap">
		<div style="float:left;width:50%;font-size:1.8em;">
			<a class="site-title" href="{{ "/" | prepend: site.baseurl }}">AHUIGO</a> |
			<a class="site-title" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
		</div>
		<div class="header-ico">
			<a href="https://github.com/{{ site.username }}">
				<img src="https://github.com/favicon.ico" />
			</a>
			<a href="https://plus.google.com/+hilojack">
				<img src="https://ssl.gstatic.com/s2/oz/images/faviconr3.ico" />
			</a>
			<a href="http://www.douban.com/people/40371771/">
				<img src="http://www.douban.com/favicon.ico" />
			</a>
			<a href="http://weibo.com/n/ahuigoo">
				<img src="http://weibo.com/favicon.ico" />
			</a>
			<a href="https://twitter.com/ahuigoo">
				<img src="http://twitter.com/favicon.ico" />
			</a>
		</div>
		{{ site.description }}
	</div>
</header>
