[user]
	name = ahuigo 
	email = ahuigo@ahuigo.com
[core]
	editor = vi
	filemode = false
	quotepath = false
	symlinks = true
	ignorecase = false
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	st = status
	ci = commit
	di = icdiff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	d = difftool
[receive]
	denyCurrentBranch = ignore
[push]
	default = simple
[init]
	templatedir = ~/.git
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[icdiff]
	options = --highlight --line-numbers
[branch]
	autoSetupMerge = always
[pull]
	rebase = false
[commit]
    template = ~/.gitmessage
