<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleCurrentKeyboardLayoutInputSourceID</key>
	<string>com.apple.keylayout.US</string>
	<key>AppleDictationAutoEnable</key>
	<integer>0</integer>
	<key>AppleEnabledInputSources</key>
	<array>
		<dict>
			<key>Bundle ID</key>
			<string>com.apple.PressAndHold</string>
			<key>InputSourceKind</key>
			<string>Non Keyboard Input Method</string>
		</dict>
		<dict>
			<key>Bundle ID</key>
			<string>com.aodaren.inputmethod.Qingg</string>
			<key>Input Mode</key>
			<string>com.aodaren.inputmethod.Qingg</string>
			<key>InputSourceKind</key>
			<string>Input Mode</string>
		</dict>
		<dict>
			<key>Bundle ID</key>
			<string>com.aodaren.inputmethod.Qingg</string>
			<key>InputSourceKind</key>
			<string>Keyboard Input Method</string>
		</dict>
		<dict>
			<key>Bundle ID</key>
			<string>com.apple.CharacterPaletteIM</string>
			<key>InputSourceKind</key>
			<string>Non Keyboard Input Method</string>
		</dict>
		<dict>
			<key>Bundle ID</key>
			<string>com.apple.KeyboardViewer</string>
			<key>InputSourceKind</key>
			<string>Non Keyboard Input Method</string>
		</dict>
		<dict>
			<key>Bundle ID</key>
			<string>com.apple.inputmethod.EmojiFunctionRowItem</string>
			<key>InputSourceKind</key>
			<string>Non Keyboard Input Method</string>
		</dict>
	</array>
	<key>AppleGlobalTextInputProperties</key>
	<dict>
		<key>TextInputGlobalPropertyPerContextInput</key>
		<false/>
	</dict>
	<key>AppleHandwritingDisabledInputSources</key>
	<array>
		<string>com.apple.inputmethod.SCIM</string>
	</array>
	<key>AppleInputSourceHistory</key>
	<array>
		<dict>
			<key>Bundle ID</key>
			<string>com.aodaren.inputmethod.Qingg</string>
			<key>Input Mode</key>
			<string>com.aodaren.inputmethod.Qingg</string>
			<key>InputSourceKind</key>
			<string>Input Mode</string>
		</dict>
	</array>
	<key>AppleSelectedInputSources</key>
	<array>
		<dict>
			<key>Bundle ID</key>
			<string>com.apple.PressAndHold</string>
			<key>InputSourceKind</key>
			<string>Non Keyboard Input Method</string>
		</dict>
		<dict>
			<key>Bundle ID</key>
			<string>com.apple.inputmethod.EmojiFunctionRowItem</string>
			<key>InputSourceKind</key>
			<string>Non Keyboard Input Method</string>
		</dict>
		<dict>
			<key>Bundle ID</key>
			<string>com.aodaren.inputmethod.Qingg</string>
			<key>Input Mode</key>
			<string>com.aodaren.inputmethod.Qingg</string>
			<key>InputSourceKind</key>
			<string>Input Mode</string>
		</dict>
	</array>
</dict>
</plist>
