[user]
	name = ahuigo
	email = a132811@gmail.com
[core]
	editor = vim
	filemode = false
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	st = status
	ci = commit
	di = icdiff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	d = difftool
[receive]
	denyCurrentBranch = ignore
[push]
	default = simple
[mergetool]
	keepBackup = false
	prompt = false
[merge]
	tool = vimdiff
[init]
	templatedir = ~/.git
